*.mp3
*.mp4
/langchain_project/svg_downloads
/langchain_project/day06_fastapi/__pycache__
/langchain_project/lee_simple_fastapi/app/__pycache__
/langchain_project/day06/chroma_db_with_meta
/langchain_project/saju_chatbot_v1/core/__pycache__
/langchain_project/saju_chatbot_v1/database/__pycache__
/langchain_project/saju_chatbot_v1/chatbot/__pycache__
/langchain_project/saju_chatbot_v1/__pycache__
